<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.fuelmanegementapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FuelManegementApp">
        <activity
            android:name=".FuelStationProfile"
            android:exported="false" />
        <activity
            android:name=".FuelStationViewQrInfo"
            android:exported="false" />
        <activity
            android:name=".FuelStationScanQr"
            android:exported="false" />
        <activity
            android:name=".FuelStationDash"
            android:exported="false" />
        <activity
            android:name=".FuelStationRegister"
            android:exported="false" />
        <activity
            android:name=".CustomerRegister"
            android:exported="false" />
        <activity
            android:name=".CustomerFuelStationDetails"
            android:exported="false" />
        <activity
            android:name=".CustomerViewVehicles"
            android:exported="false" />
        <activity
            android:name=".CustomerViewVehicleDetails"
            android:exported="false" />
        <activity
            android:name=".CustomerViewFuelStations"
            android:exported="false" />
        <activity
            android:name=".CustomerProfile"
            android:exported="false" />
        <activity
            android:name=".CustomerDash"
            android:exported="false" />
        <activity
            android:name=".CustomerAddVehicle"
            android:exported="false" />
        <activity
            android:name=".Login"
            android:exported="false" />
    </application>

</manifest>